<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FYP -- Survey of Deep-Colourisation</title>
    <style>
        body {
            background-color: #93B874;
        }
        list-style: none;
    </style>
</head>
<body>
<h1>FYP -- Survey of Deep-Colourisation</h1>
<HR>
<form th:action="@{/submitForm}" th:object="${userAnswer}" method="post">
    <h2>Fill in your personal info. (You can ignore these if you don't want to)</h2>
    <label for="name">Please enter your name:</label><br>
    <input type="text" name="name" id="name"/><br>
    <label for="email">Please enter your email:</label><br>
    <input type="text" name="email" id="email"/><br>

    <h2>Part One, Real or Fake?</h2>
    <label></label><br>
    <ul th:each="imageNameFrontend,Stat : ${imageNamesFrontend}">
        <li>
            <img th:src="@{'/img/'+${imageNameFrontend}}"><br>
            <input type="radio" th:if = "${Stat.count} <= 5" th:name="q + (${Stat.count})" th:id="'q' + (${Stat.count}) + '-0'" th:value="'q' + (${Stat.count}) + 'Real'" required="required" th:text = "${RealText}"><br>
            <input type="radio" th:if = "${Stat.count} <= 5" th:name="q + (${Stat.count})" th:id="'q' + (${Stat.count}) + '-1'" th:value="'q' + (${Stat.count}) + 'False'" required="required" th:text =  "${FakeText}"><br>
            <p th:if = "${Stat.count} > 5" th:text = "${HintStarText}"></p><br>
            <input type="radio" th:if = "${Stat.count} > 5" th:name="q + (${Stat.count})" th:id="'q' + (${Stat.count}) + '-0'" th:value="One" required="required" th:text = "${OneStarText}"><br>
            <input type="radio" th:if = "${Stat.count} > 5" th:name="q + (${Stat.count})" th:id="'q' + (${Stat.count}) + '-0'" th:value="Two" required="required" th:text = "${TwoStarText}"><br>
            <input type="radio" th:if = "${Stat.count} > 5" th:name="q + (${Stat.count})" th:id="'q' + (${Stat.count}) + '-0'" th:value="Three" required="required" th:text = "${ThreeStarText}"><br>
            <input type="radio" th:if = "${Stat.count} > 5" th:name="q + (${Stat.count})" th:id="'q' + (${Stat.count}) + '-0'" th:value="Four" required="required" th:text = "${FourStarText}"><br>
        </li>
    </ul>
    <input type="submit" value="submit">
</form>
</body>
</html>