<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FYP -- Survey of Deep-Colourisation</title>
    <style>
        body {
            background-color: #93B874;
        }
    </style>
</head>
<body>
<h1>FYP -- Survey of Deep-Colourisation</h1>
<HR>
<form th:action="@{/submitForm}" th:object="${userAnswer}" method="post">
    <h2>Fill in your personal info. (You can ignore these if you don't want to)</h2>
    <label for="name">Please enter your name:</label><br>
    <input type="text" name="name" id="name"/><br>
    <label for="email">Please enter your email:</label><br>
    <input type="text" name="email" id="email"/><br>

    <h2>Part One, Real or Fake?</h2>
    <label></label><br>
    <img th:src="@{'/img/'+${imgName11}}"><br>
    <input type="radio" name="q1" id="q1-0" value="q1Real" required="required">It is Real.<br>
    <input type="radio" name="q1" id="q1-1" value="q1Fake" required="required">It is Colourised by AI.<br>
    <img th:src="@{'/img/'+${imgName12}}"><br>
    <input type="radio" name="q2" id="q2-0" value="q2Real" required="required">It is Real.<br>
    <input type="radio" name="q2" id="q2-1" value="q2Fake" required="required">It is Colourised by AI.<br>
    <img th:src="@{'/img/'+${imgName13}}"><br>
    <input type="radio" name="q3" id="q3-0" value="q3Real" required="required">It is Real.<br>
    <input type="radio" name="q3" id="q3-1" value="q3Fake" required="required">It is Colourised by AI.<br>
    <img th:src="@{'/img/'+${imgName14}}"><br>
    <input type="radio" name="q4" id="q4-0" value="q4Real" required="required">It is Real.<br>
    <input type="radio" name="q4" id="q4-1" value="q4Fake" required="required">It is Colourised by AI.<br>
    <img th:src="@{'/img/'+${imgName15}}"><br>
    <input type="radio" name="q5" id="q5-0" value="q5Real" required="required">It is Real.<br>
    <input type="radio" name="q5" id="q5-1" value="q5Fake" required="required">It is Colourised by AI.<br>

    <h2>Part Two, Your Rate?</h2>
    <label></label><br>
    <img th:src="@{'/img/'+${imgName21}}"><br>
    <input type="radio" name="q6" id="q6-0" value="One" required="required">★<br>
    <input type="radio" name="q6" id="q6-1" value="Two" required="required">★ ★<br>
    <input type="radio" name="q6" id="q6-2" value="Three" required="required">★ ★ ★<br>
    <input type="radio" name="q6" id="q6-3" value="Four" required="required">★ ★ ★ ★<br>
    <img th:src="@{'/img/'+${imgName22}}"><br>
    <input type="radio" name="q7" id="q7-0" value="One" required="required">★<br>
    <input type="radio" name="q7" id="q7-1" value="Two" required="required">★ ★<br>
    <input type="radio" name="q7" id="q7-2" value="Three" required="required">★ ★ ★<br>
    <input type="radio" name="q7" id="q7-3" value="Four" required="required">★ ★ ★ ★<br>
    <img th:src="@{'/img/'+${imgName23}}"><br>
    <input type="radio" name="q8" id="q8-0" value="One" required="required">★<br>
    <input type="radio" name="q8" id="q8-1" value="Two" required="required">★ ★<br>
    <input type="radio" name="q8" id="q8-2" value="Three" required="required">★ ★ ★<br>
    <input type="radio" name="q8" id="q8-3" value="Four" required="required">★ ★ ★ ★<br>
    <img th:src="@{'/img/'+${imgName24}}"><br>
    <input type="radio" name="q9" id="q9-0" value="One" required="required">★<br>
    <input type="radio" name="q9" id="q9-1" value="Two" required="required">★ ★<br>
    <input type="radio" name="q9" id="q9-2" value="Three" required="required">★ ★ ★<br>
    <input type="radio" name="q9" id="q9-3" value="Four" required="required">★ ★ ★ ★<br>
    <img th:src="@{'/img/'+${imgName25}}"><br>
    <input type="radio" name="q10" id="q10-0" value="One" required="required">★<br>
    <input type="radio" name="q10" id="q10-1" value="Two" required="required">★ ★<br>
    <input type="radio" name="q10" id="q10-2" value="Three" required="required">★ ★ ★<br>
    <input type="radio" name="q10" id="q10-3" value="Four" required="required">★ ★ ★ ★<br>
    <input type="submit" value="submit">
</form>
</body>
</html>