<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FYP -- Survey of Deep-Colourisation</title>
    <style>
        body {
            background-color: #93B874;
        }
    </style>
</head>
<body>
<h1>FYP -- Survey of Deep-Colourisation</h1>
<HR>
<form th:action="@{/submitForm}" th:object="${userAnswer}" method="post">
    <h2>Fill in your personal info. (You can ignore these if you don't want to)</h2>
    <label for="name">Please enter your name:</label><br>
    <input type="text" name="name" id="name"/><br>
    <label for="email">Please enter your email:</label><br>
    <input type="text" name="email" id="email"/><br>
    <h2>Part One</h2>
    <label>1. Real or Fake?</label><br>
    <img th:src="@{'/img/'+${imgName}}"><br>
    <input type="radio" name="q1" id="q1-0" value="Real">It is Real.<br>
    <input type="radio" name="q1" id="q1-1" value="Fake">It is Colourised by AI.<br>
    <input type="submit" value="submit">
</form>
</body>
</html>